<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add Driver</title>
    </head>
    <body>
        <center>
            <h1>Add a New Driver</h1>
            <form action="/" method="POST">
                <label>
                    Driver name : <input type="text" required>
                </label>
                <br>
                <label>
                    Phone number : <input type="number" required>
                </label>
                <br>
                <label>
                    Place : <input type="text" required>
                </label>
                <br>
                <label>
                    Age : <input type="number" required>
                </label>
                <br>
                <button type="submit" >Save</button>     
            </form> 
        </center>
    </body>
</html>