<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Contact
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/contact.css")
        style.
            body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
            .w3-row-padding img {margin-bottom: 12px}
            /* Set the width of the sidebar to 120px */
            .w3-sidebar {width: 120px;background: #222;}
            /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
            #main {margin-left: 120px}
            /* Remove margins from "page content" on small screens */
            @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    body.w3-black
        nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
            img(src="https://images.unsplash.com/photo-1527672809634-04ed36500acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg", style="width:100%")
            a.w3-bar-item.w3-button.w3-padding-large.w3-black(href="/home.html")
                i.fa.fa-home.w3-xxlarge
                p HOME
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href="#about")
                i.fa.fa-user.w3-xxlarge
                p ABOUT
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href="/home/contact/register.html")
                i.fa.fa-eye.w3-xxlarge
                p SIGNUP
            a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href="#contact")
                i.fa.fa-envelope.w3-xxlarge
                p CONTACT
        .w3-top.w3-hide-large.w3-hide-medium(id="myNavbar")
            .w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small
                a.w3-bar-item.w3-button(href="#home", style="width:25% !important") HOME
                a.w3-bar-item.w3-button(href="#About", style="width:25% !important") ABOUT
                a.w3-bar-item.w3-button(href="#signup", style="width:25% !important") SIGNUP
                a.w3-bar-item.w3-button(href="#contact us", style="width:25% !important") CONTACT
        .w3-padding-large(id="main")
        header.w3-container.w3-padding-32.w3-center.w3-black(id="home")
            h1.w3-jumbo
                span.w3-hide-small Garbage Free
            p A web application for a clean environment
            img(src="https://images.unsplash.com/photo-1519802772250-a52a9af0eacb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.jpg", alt="boy", class="w3-image", width="992", height="1108")
        .w3-content.w3-justify.w3-text-grey.w3-padding-64(id="about")
            h2.w3-text-light-grey About -Grabage free
            hr.w3-opacity(style="width:200px")
            p Garbage free website is basically designed to keep the surroundings clean and Tidy.The user of this application can view the Garbage truks near by in the case of overflow in the existing Dustbins.They can also make call to the Garbage collector in the event of immediate dispposal.
            h3.w3-padding-16.w3-text-light-grey Our Motive
            p.w3-wide Clean environment
            .w3-white
                .w3-dark-grey(style="height:28px;width:95%")
            p.w3-wide Prevent diseases spread from the street dustbins
            .w3-white
                .w3-dark-grey(style="height:28px;width:85%")
            p.w3-wide Tracking facility 24X7
            .w3-white
                .w3-dark-grey(style="height:28px;width:80%")
            .w3-row.w3-center.w3-padding-16.w3-section.w3-light-grey
                .w3-quarter.w3-section
                    span.w3-xlarge 1
                    br 
                    p India
            .w3-quarter.w3-section
                span.w3-xlarge 1,000,000+
                br 
                p People
            .w3-quarter.w3-section
                span.w3-xlarge 1
                br 
                p Idea
            .w3-quarter.w3-section
                span.w3-xlarge 1,000,000+
                br 
                p Clean places
            </div>
            </div>
        .w3-padding-64.w3-content(id="photos")
            h2.w3-text-light-grey Our India
            hr.w3-opacity(style="width:200px")
            .w3-row-padding(style="margin:0 -16px")
                .w3-half
                    img(src="https://images.unsplash.com/photo-1517330357046-3ab5a5dd42a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                    img(src="https://images.unsplash.com/photo-1526572690437-c3f99d109cfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                    img(src="https://images.unsplash.com/photo-1524314710162-eecbbcc26a46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                .w3-half
                    img(src="https://images.unsplash.com/photo-1543198926-22fea2a870dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                    img(src="https://images.unsplash.com/photo-1512802259497-db6d453f32bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                    img(src="https://images.unsplash.com/photo-1491332069880-905992a4c051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG", style="width:100%")
                    img(src="https://images.unsplash.com/photo-1517447268826-838758324f58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60.JPG" style="width:100%")
        .w3-padding-64.w3-content.w3-text-grey(id="contact")
            h2.w3-text-light-grey Contact us
            hr.w3-opacity(style="width:200px")
            .w3-section(style="font-size:14")
                p
                    i.fa.fa-map-marker.fa-fw.w3-text-light-grey.w3-xxlarge.w3-margin-right Madurai, TamilNadu
                p
                    i.fa.fa-phone.fa-fw.w3-text-light-grey.w3-xxlarge.w3-margin-right Phone:123456789
                p
                    i.fa.fa-envelope.fa-fw.w3-text-light-grey.w3-xxlarge.w3-margin-right Email: mail@mail.com
                p Suggestion to improve us
            form(action="/action_page", target="_blank" method = "post")
                p
                    input.w3-input.w3-padding-16( type="text", placeholder="Name", required, name="Name")
                p
                    input.w3-input.w3-padding-16(type="text", placeholder="Email", required, name="Email")
                p
                    input.w3-input.w3-padding-16(type="text", placeholder="Subject", required, name="Subject")
                p
                    input.w3-input.w3-padding-16(type="text", placeholder="Message", required, name="Message")
                p
                    button.w3-button.w3-light-grey.w3-padding-large(type="submit")
                        i.fa.fa-paper-plane SEND 
        footer.w3-content.w3-padding-64.w3-text-grey.w3-xlarge
            i.fa.fa-facebook-official.w3-hover-opacity
            i.fa.fa-instagram.w3-hover-opacity
            i.fa.fa-snapchat.w3-hover-opacity
            i.fa.fa-pinterest-p.w3-hover-opacity
            i.fa.fa-twitter.w3-hover-opacity
            i.fa.fa-linkedin.w3-hover-opacity
            p.w3-medium Powered by 
                a(href="#Powered by", target="_blank", class="w3-hover-text-green") Garbage Free


