<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Details_of_Drivers</title>
    </head>
    <body>
        <center>
            <h1>Drivers who are at your service to serve the society</h1>
          
            <div id="Details" class="container"> 
                <div class="btn" id="id">DR1</div>
                <div class="btn" id="driver_name">Varun Dhawan</div>
                <div class="btn" id="mobile_number">8953319669</div>
                <div class="btn" id="place">XVR</div>
                <div class="btn" id="age">31</div>
            </div>
        </center>      
        
    </body>
</html>