<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Page
        link(rel="stylesheet" href="style.css")
        style.
            header img {
                height: 80px;
                margin-left: 40px;
            }
            body {
                height: 125vh;
                /*background-image: url('https://images.unsplash.com/photo-1486783046960-64d2ef697c46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
                */background-size: cover;
                font-family: sans-serif;
                margin-top: 80px;
                padding: 30px;
            }

            main {
                color: white;
            }

            header {
                background-color: white;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 80px;
                display: flex;
                align-items: center;
                box-shadow: 0 0 25px 0 black;
            }

            header * {
                display: inline;
            }

            header li {
                margin: 20px;
            }

            header li a {
                color: black;
                text-decoration: none;
            }

            iframe {
                display: block;
                width: 700px;
                height: 400px;
                margin: 0 auto;
                border: 0;
            }
    body
        header
            img(src="https://images.unsplash.com/photo-1496989981497-27d69cdad83e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=844&q=80")
            nav
                ul
                    li
                        a(href="/updatelist") Update Driver List
                    li
                        a(href="/admin/addAdmin") Add Another Admin.    
                    li
                        a(href="/admin/adddriver") Add Driver
                    li
                        a(href="/home") Home
