<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/register.css">
</head>
<body>

<form action="/auth">
  <div class="container">
 
    <h1><center>Welcome to Garbage free</center></h1>
	  <h1><center>Signup</center></h1>
    <hr>
    <center><label for="Name"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Name" name="name" required><br>

    <label for="email">
      <b>Email</b>
    </label><br>
    <input type="text" placeholder="Enter Email" name="email" required><br>
    
    <label for="no">
        <b>Mobile Number</b>
    </label><br>
    <input type="password" placeholder="Enter Mobile Number" name="no" required><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <label for="psw-repeat"><b>Repeat Password</b></label><br>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
    <hr>
    <button type="submit" class="registerbtn">Register</button></center>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>

</body>
</html>
